@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="pure-u-11-12" style="margin: 0 auto">
    <p>
        <h2>Error</h2>
    </p>
    <p>
        Unable to process your order. Please contact support.
    </p>
</div>


