@{
    ViewBag.Title = "Thank you!";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="pure-u-11-12" style="margin: 0 auto">
    <p>
        <h2>Thank you!</h2>
    </p>
    <p>
        We have received your payment!
    </p>
</div>


