@{
    ViewBag.Title = "Robokassa Example 2";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="pure-u-11-12" style="margin: 0 auto">
    <p>
        <h2>Better Robokassa</h2>
    </p>
    <a class="pure-button" href="/Payment/">Redirect to Robokassa</a>
</div>


