@{
    ViewBag.Title = "Robokassa Example 2";
    Layout = "~/Views/Shared/Master.cshtml";
}

<p>
    <h2>Better Robokassa</h2>
</p>
<p>
    Make sure you specified RobokassaLogin, RobokassaPass1 and RobokassaPass2 in Web.Config.
    Then press button below.
</p>
<a class="pure-button" href="/Payment/">Pay 1000 roubles</a>


