<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Robokassa keys -->
    <add key="RobokassaLogin" value="your_merchant" />
    <add key="RobokassaPass1" value="password1" />
    <add key="RobokassaPass2" value="password2" />
  </appSettings>
</configuration>